RewriteEngine On
RewriteRule ^about/?$ about.html
RewriteRule ^services/?$ services.html
RewriteRule ^contact/?$ contact.html
RewriteRule ^projects/?$ projects.html

#Carga tu propia página de error 404

ErrorDocument 404 /errores/tupágina404.html


#Bloquear archivos

Options All -Indexes

#Proteger el .htaccess

<files .htaccess>

order allow,deny

deny from all

</files>